body {
  background: #fafafa;
}

::-webkit-scrollbar {
  width: 10px;
  background: #3b3b3b;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(107, 107, 107, 0.628);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(107, 107, 107, 0.988);
}
